body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1DA1F2;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.leftBar a{
  text-decoration: none;
  font-weight: bold;
  color: #525252bb;
}
.user-profile, .notifications {
  display: flex;
  align-items: center;
}
.user-profile img, .notifications i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-name {
  font-weight: bold;
  font-size: 16px;
}
.user-handle, .suggested-handle {
  color: #000000;
  font-size: 14px;
}
.user-profile img, .notifications i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.leftBar {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  max-width: 300px;
  height: calc(100vh - 20px);
}

.leftBar button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-bar input[type="text"] {
  min-width: 900px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin: 10px 0;
  background: #7777771c;
}
.leftBar button:hover {
  background: #77777738;
}
.trending-topics h2, .follow-suggestions h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.trending-topics ul, .follow-suggestions ul {
  list-style-type: none;
  padding: 0;
}
.trending-topics li, .follow-suggestions li {
  margin-bottom: 5px;
}
.follow-suggestions{
  background-color: #fff;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.521);
  border: none;
  resize: none;
  font-size: 16px;
}
.trending-topics a,.trending-topics-search a{
  color: #1DA1F2;
  text-decoration: none;
}
#searchResults{
  margin: 30px 0;
}
.topic-list li{
  margin: 10px 0;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.tweet-image-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.tweet-image-container img {
  max-width: 100%;
  max-height: 60vh;
  height: auto;
  border-radius: 20px;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #1DA1F2;
}

button,
.input {
  transition: background-color 0.3s, transform 0.2s;
}

button:hover,
.input:hover {
  background-color: #6ac0f1;
  border-radius: 20px;
}